#project
	.sea
		.circle-wrapper
			.bubble
			.submarine-wrapper
				.submarine-body
					.window
					.engine
					.light
				.helix
				.hat
					.leds-wrapper
						.periscope
						.leds
	.container.profileContainer.align-center
		h1.titleText(style='color:white') Projects

		.masonry
			each project in data.projects
				if project.name == "pusher"
				else
					//- .item
					//- 	.item_content.item__content--large(style="background-image:url('" + project.src + "')")
					//- 		h1=project.name
					//- 		p=project.description
					if project.show == "True"
						.items
							.item_content.item__content--large
								a.info-box(href='#')
									.info-box__txt
										h1=project.name
										p=project.description
									img.info-box__img(src=project.src)

		ul#categories.clr
			each project in data.projects
				if project.name == "pusher"
					li.pusher
				else
					li
						div
							img(src=project.src, alt='')
							h1=project.name
							p=project.description
